@font-face {
    font-family: fontePixelArt;
    src: url("assets/Fontes/LLPIXEL3.ttf");
  }

  @font-face {
    font-family: fontPAHs;
    src: url(assets/Fontes/Pixel-Regular.ttf)
  }
  header{
    font-family: fontePixelArt;
    font-size: medium;
    font-weight: 900;
    padding: 5px;
    
    
}
body{
    background-image: url(assets/PixelArt/teste.png);
    background-repeat: repeat;
}
main{
    background-color: aliceblue;
    padding: 20px;
    min-width: 50%;
    max-width: 92%;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.226);
    
}
nav{
    background-color:  rgba(145, 121, 59, 0.26);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-family: fontePixelArt;
    margin: 0px;
    display: flex;
}

h1{
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    color: aqua;
    font-size: 50px;
    font-family:fontePixelArt ;
}

h2{
font-family: fontePixelArt;
text-align:justify;
padding-left: 5px;
border-radius: 20px;
}
h3{
    font-family: fontePixelArt;
    text-align:justify;
    padding-left: 5px;
    border-radius: 20px;
}
article{
    background-image: linear-gradient(to right, rgba(4, 0, 255, 0.37) , rgba(4, 0, 255, 0.137) ,rgba(0, 89, 255, 0.027));
    border-radius: 20px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.137) 1px 1px 5px 1px;
}
ul{
    padding:0px;
    text-align: center;
    
    
}

a{
text-decoration: none;
font-size: 25px;
font-weight: 900;
color: rgb(1, 4, 38);
padding: 25px 30px;
border-radius: 10px;
text-align: justify;
}
a:hover{
    background-color: rgba(13, 1, 121, 0.356);
}

a:active{
    background-color: rgba(13, 1, 121, 0.315);
}
footer{
    font-weight: 900;
}
footer a:hover{
    background-color: rgba(240, 248, 255, 0);
    
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: #2b2a2a;
    margin: 20px;
    text-align: justify;
    font-weight: 700;
}
.img_container{
text-align: center;
}
.divh3{
    background-image: linear-gradient(to right, rgba(4, 0, 255, 0.151) , rgba(4, 0, 255, 0.075) ,rgba(0, 89, 255, 0.027));
    border-radius: 20px;
    padding-left: 10px;
}
section{
    margin-bottom: 20px;
}
.panel {
    margin-bottom: 10px;
    display: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.829);
    overflow: hidden;
}
.accordion {
    cursor: pointer;
    padding: 1px;
    margin-bottom: 10px;
    background-color: #f1f1f100;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.6s;
}
strong{
    font-family: fontePixelArt;
    text-align:justify;
    padding-left: 5px;
    border-radius: 20px;
}
  @media (max-width: 1273px){
   ul{
    display: flex;
   }
   @media(max-width:860px){
    ul{
        display:grid;
        text-align: center;
    }
    menu{
        display: none;
       text-align: center;
    }
    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        transition: max-height 0.5s ease-in-out;
        text-align: center;
    }
    
    .menu li {
        float: left;
        text-align: center;
    }
    
    .menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
    }
    
    .menu-icon {
        display: none;
        cursor: pointer;
        padding: 10px;
        text-align: center;
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: rgb(12, 6, 6);
        margin: 6px 0;
        transition: 0.4s;
        text-align: center;
    }
    
    @media (max-width: 600px) {
        .menu {
            max-height: 0;
            text-align: center;
           
        }
        .menu-icon {
            cursor: pointer;
            padding: 10px;
            text-align: center;
        }
        .menu.active {
            max-height: 500px;
            text-align: center;
            
        }
    
        .menu-icon {
            display: block;
            text-align: center;
        }
        ul{
           
            text-align: center;
        }
        nav{
            text-align: center;
        }
        .menu-icon{
            text-align: center;
            padding-left: 50%;
        }
       
        
    }

   
   }
  }
